<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp6.Properties.Settings.ConnectionString"
            connectionString="Callback URL=http://localhost:33333;Data Center=east02;Default Data Area=P20V01C081KON0002;Initiate OAuth=GETANDREFRESH;OAuth Client Id=d92b150525f043a6bf990b92562b35f0;OAuth Client Secret=&quot;WM53oklojUklhUg9pKSaD8CAiweSbS2ioWPhPkAOnEY=&quot;"
            providerName="System.Data.CData.PCASales" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>